.calendar-view {
    width: 950px;
    height: 650px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.calendar-header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.calendar-navigation {
    display: flex;
    flex-direction: row;

    width: 100%;
    margin: 0 20px;
}

.current-day {
    display: flex;
    min-width: 150px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.calendar-month {
    width: 100%;
    display: flex;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    flex-grow: 1;
    /* border: 1px solid blue; */
}

.week-number-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45px;
    margin-right: 10px;
    margin-top: 40px;
    /* border: 1px solid blue; */
}

.week-day {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.week-number {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-days {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.calendar-day {
    min-width: 125px;
    min-height: 75px;
    position: relative;
    outline: 1px solid #a6a6a6;
}

.calendar-day:hover {
    background-color: rgba(0, 0, 0, .10);
}

.calendar-day p {
    position: absolute;
    right: 10px;
    color: #a6a6a6;
}

.current p {
    color: #000000;
}

.selected p {
    color: #cc0000;
    font-weight: bold;
}