.list-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 950px;
    height: 100%;
    box-sizing: border-box;
}

.list-content {
    overflow-y: scroll;
}

.filters {
    display: flex;
}


.list-transaction {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3px;
    outline: 1px solid black;
    width: 100%;
    box-sizing: border-box;
}

.list-transaction :last-child {
    text-align: right;
}