.transaction-view {
    outline: 1px solid pink;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.transaction-list {
    overflow-y: auto;
    flex-grow: 1;
    scrollbar-width: none;
    --ms-overflow-style: none;
}

.transaction-list::-webkit-scrollbar {
    display: none;
}

.transaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #a6a6a6;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.transaction > p {
    margin: 5px;
}

.add-transaction {
    position: relative;
}

.add-transaction-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
}

.add-transaction-form input.error {
    border-color: red;
}

.add-transaction-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
